<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FreelanceGo</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css" asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
            asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js" asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery" crossorigin="anonymous" integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
            </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js" asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal" crossorigin="anonymous" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
            </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    </environment>


</head>
<style>
    #circle {
    position: absolute;
    top: 1.6rem;
    left: 2.5rem;
    width: 0.85rem;
    height: 0.85rem;
    border-radius: 100%;
    background: #ec5151;
    }
    .notifications {
   min-width:320px; 
  }
  
  .notifications-wrapper {
     overflow:auto;
      max-height:250px;
    }
.menu-title {
    color: #ffffff;
    font-size: 13px;
    display: inline-block;
    font-weight: bold;
}
 
.glyphicon-circle-arrow-right {
      margin-left:10px;     
   }
  
   
 .notification-heading, .notification-footer  {
  padding:2px 10px;
       }
      
        
.dropdown-menu.divider {
  margin:5px 0;          
  }

.item-title {
    font-size: 1.3rem;
    color: #000;
    font-weight: bold;
    margin: 5px 0px;
}

.notifications a.content {
    text-decoration: none;
    display: block;
    color:#000;
}
.notification-item {
    position: relative;
    padding: 10px;
    padding-left: 70px;
    padding-bottom: 0px;
}
.notification-item img {
    position: absolute;
    top: 7px;
    left: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
.dropdown-menu .divider {
    height: 1px;
    margin: 5px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}
ul.dropdown-menu.notifications .notifications-wrapper a.content {
    padding: 0px !important;
    background: rgba(0, 0, 0, 0.04);
    border-bottom: 1px solid #d1d1d1;
}
ul.dropdown-menu.notifications .notifications-wrapper a.content:hover {
    color: #000;
    background: rgba(0, 0, 0, 0.1);
}
.login-nav ul.nav.navbar-nav.navbar-right li a {
    display: block;
}
.notification-heading {
    background: #000;.notifications a.content {
    text-decoration: none;
    display: block;
}
    padding: 3px 10px;
}
ul.dropdown-menu.notifications {
    padding: 0px;
}
.dropdown .glyphicon-bell {  
    vertical-align: middle;
}
.dropdown{
    list-style:none;
}
</style>
<body>
    <div class="container" >
        <nav class="navbar navbar-default navbar-fixed-top" style="box-shadow: 0px 2px 6px rgba(50, 50, 50, 0.42); ">
            <div class="container" >
                <div class="navbar-header">
                    <div class="navbar-header navbar navbar-expand-xl">
                        <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                            aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button> -->
                        <a class="navbar-brand pull-left" id="HomeProfile">
                            <span>
                                <img style=" height: 40px;" src="~/images/logomm.png">
                            </span>
                        </a>
                    </div>
                </div>
                <ul id="freeNav" class="nav navbar-nav navbar-right" style="margin-top: 10px;">
                     <li>
                        <a id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="/page.html">
                            <i class="fas fa-bell"style="font-size: 1.5em;"></i>
                            <span id="circle"></span>
                        </a>
                        <ul class="dropdown-menu notifications" role="menu" aria-labelledby="dLabel">
                                <div class="notification-heading text-center"><h4 class="menu-title">เเจ้งเตือน</h4>
                                </div> 
                            <div class="notifications-wrapper"> 
                                <a class="content" href="#"> 
                                <div class="notification-item">
                                <img src="http://www.leapcms.com/images/100pixels1.gif">
                                    <h4 class="item-title">Evaluation Deadline  <small> 1 day ago</small></h4>
                                    <p class="item-info">Mr hassan has followed you!</p>
                                </div>  
                                </a>

                                <a class="content" href="#">
                                <div class="notification-item">
                                <img src="http://www.leapcms.com/images/100pixels1.gif">
                                    <h4 class="item-title">Evaluation Deadline  <small> 1 day ago</small></h4>
                                    <p class="item-info">Marketing 101, Video Assignment</p>
                                </div>
                                </a> 
                                <a class="content" href="#"> 
                                <div class="notification-item">
                                <img src="http://www.leapcms.com/images/100pixels1.gif">
                                    <h4 class="item-title">Evaluation Deadline  <small> 1 day ago</small></h4>
                                    <p class="item-info">Mr hassan has followed you!</p>
                                </div>  
                                </a> 
                                <a class="content" href="#"> 
                                <div class="notification-item">
                                <img src="http://www.leapcms.com/images/100pixels1.gif">
                                    <h4 class="item-title">Evaluation Deadline  <small> 1 day ago</small></h4>
                                    <p class="item-info">Mr hassan has followed you!</p>
                                </div>  
                                </a> 
                                <a class="content" href="#"> 
                                <div class="notification-item">
                                <img src="http://www.leapcms.com/images/100pixels1.gif">
                                    <h4 class="item-title">Evaluation Deadline  <small> 1 day ago</small></h4>
                                    <p class="item-info">Mr hassan has followed you!</p>
                                </div>  
                                </a>
                            </div> 
                            </ul>
                    </li>
                    <li>
                        <a asp-controller="Home" asp-action="SearchProject">
                            <i class="fas fa-search"></i> ค้นหาประกาศงาน</a>
                    </li>
                    <li>
                        <a href="/Home/Logout">
                            <span class="glyphicon glyphicon-log-in"></span> ออกจากระบบ</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container body-content">
        @RenderBody()
        <!-- <hr />
        <footer>
            <p>&copy; 2018 - FreelanceGo_Master</p>
        </footer> -->
    </div>
    @RenderSection("Scripts", required: false)
</body>
<script>
    $("#HomeProfile").click(function() {
        if(Freelance_ID == null) {
           location.replace("http://localhost:5000/Home");
        }else{
            location.replace("http://localhost:5000/Home/ProfileFreelance/"+localStorage['Freelance_ID']);
        }
    });
    var Freelance_ID = localStorage['Freelance_ID'];
    if(Freelance_ID == null) {
        $("#freeNav").css("display", "none");
    }
</script>

</html>