@{
    ViewData["Title"] = "About";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

<select id="test"  class="js-example-basic-multiple" name="states[]" multiple="multiple">
    <option value=1>xxxx</option>
</select>

<p>Selected IDs: <span id="selectedIDs"></span></p>
<p>Selected Options: <span id="selectedText"></span></p>


<div class="input-group">
    <input type="text" class="form-control" id="skillText" placeholder="Search">
    <span class="input-group-btn">
       <a id="submid"> <button type="button" class="btn btn-default">Go!</button></a>
    </span>
</div>


<script>
  $(document).ready(function() {
    var test = $('#test');
$(test).select2({
    data:[
        {id:0,text:"enhancement"},
        {id:1,text:"bug"},
        {id:2,text:"duplicate"},
        {id:3,text:"invalid"},
        {id:4,text:"wontfix"}
    ],
    multiple: true,
    width: "300px"
});

$(test).change(function() {
    var selections = ( JSON.stringify($(test).select2('data')));
    console.log('Selected options: ' + selections);
    console.log(selections);
    var ids = $(test).val();
    console.log(ids);
    $('#selectedText').text(ids);
 
   
});
$(test).ready(function() {
    var selections = ( JSON.stringify($(test).select2('data')) );
    console.log('Selected options: ' + selections);
    $('#selectedText').text(selections);
});

var skill = "";
$("#skillText").change(function() {
    skill = $("#skillText").val();
});
$("#submid").click(function() {
            jQuery.ajax({
                    type: "post",
                    dataType: "json",
                    url: "/Home/SaveSkill",
                    data: {skill:skill},
                    success: function (data) {
                      alert("ประกาศสำเร็จ");
                      console.log(data);
                    },
                    error: function (data) {
                      alert("กรอกข้อมูลไม่ถูกต้อง");
                    },
          }); //end ajax
      });






});
</script>