
@{
    Layout = "_NewLayuot";
    ViewData["Title"] = "Empolyer";
}


<style>
    .sestion1{
      margin-top: 3rem;
    }
    .profile{
        border: 1px  solid red;
        border-color: #ccc;
        -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    }
    .project{
        margin-left: 2rem;
        border: 1px  solid red;
        border-color: #ccc;
        -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    }
</style>

<div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
               <div class="sestion1">
                   <div class="row">
                       <div class="col-sm-3">
                           <div class="row profile">
                               <div class="col-sm-12">
                                <label for="">xxxxx</label>
                               </div>
                           </div>
                       </div>
                        <div class="col-sm-9">
                            <div class="row project">
                               <div class="col-sm-12">
                                   <div class="tableProject">
                                        <div id="EmployerTableContainer"></div>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $('#EmployerTableContainer').jtable({
            title: 'Table of people',
            actions: {
                listAction: '/Home/ProjectLisr',
           //     createAction: '/GettingStarted/CreatePerson',
            //    updateAction: '/GettingStarted/UpdatePerson',
            //    deleteAction: '/GettingStarted/DeletePerson'
            },
            fields: {
                PersonId: {
                    key: true,
                    list: false
                },
                Name: {
                    title: 'Author Name',
                    width: '40%'
                },
                Age: {
                    title: 'Age',
                    width: '20%'
                },
                RecordDate: {
                    title: 'Record date',
                    width: '30%',
                    type: 'date',
                    create: false,
                    edit: false
                }
            }
        });
    });
</script>
