 @{ 
     Layout = "_NewLayuot"; 
     ViewData["Title"] = "ProjectPost"; 
}
@{ 
    IEnumerable<Skill> Skills = ViewData["Skill"] as IEnumerable<Skill>; 
    IEnumerable<TypeProject> TypeProjects = ViewData["TypeProject"] as IEnumerable<TypeProject>; 
}



<style>
    .sestion1 {
        margin: 20rem;
        margin-top: 2rem;
        border: 1px  solid red;
        border-color: #ccc;
        -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    }

    .SubSestion1 {
        margin: 2rem;
        padding: 2rem;
    }

    .hrcss {
        margin-top: 10px;
        margin-bottom: 0px;
        clear: both;
        border: 0;
        height: 1px;
        background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    }
</style>


<div>
    <div class="row">
        <div class="col-sm-12">
            <div class="formPost">
                <div class="row">
                    <div class="col-sm-12">
                        <form class="sestion1">
                            <div class="SubSestion1" tyle="border-color: #ccc;">
                                <div class="row" style="margin-bottom:2rem">
                                    <div class="col-sm-12 text-center">
                                        <h1>ประกาศงาน</h1>
                                        <hr class="hrcss">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="name" class="cols-sm-2 control-label">ชื่องาน</label>
                                    <div class="cols-sm-10">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fas fa-tasks"></i>
                                            </span>
                                            <input id="ProjectName" name="ProjectName" type="text" class="form-control" placeholder="ชื่องาน" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="name" class="cols-sm-2 control-label">รายละเอียด</label>
                                    <div class="cols-sm-10">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                    <textarea id="Description" name="Description" class="form-control" rows="5"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="name" class="cols-sm-2 control-label">ประเภทงาน</label>
                                    <div class="cols-sm-10">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fas fa-tasks"></i>
                                            </span>
                                            <select class="form-control" id="seTypeProject">
                                                <option value=null>เลือกประเภทงาน</option>
                                            @foreach (TypeProject TypeProjectList in TypeProjects) 
												{
													<option value=@TypeProjectList.TypeProject_ID>@TypeProjectList.Name</option>
												}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group " id="Skillformgroup">
										<label>เลือกทักษะที่ต้องใช้ในการทำงาน</label>
										<div class="input"  tabindex="2">
											<select id="skills"  class="js-example-basic-multiple form-control" name="states[]" multiple="multiple">
												@foreach (Skill Skill in Skills) 
												{
													<option value=@Skill.Skill_ID>@Skill.Name</option>
												}
											</select>
										</div>
								</div>
                                <div class="form-group">
                                    <label for="name" class="cols-sm-2 control-label">งบประมาณ</label>
                                    <div class="cols-sm-10">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fas fa-tasks"></i>
                                            </span>
                                            <input id="Budget" name="Budget" type="number" class="form-control" placeholder="งบประมาณ / บาท" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="name" class="cols-sm-2 control-label">ระยะเวลาการทำงาน</label>
                                    <div class="cols-sm-10">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fas fa-tasks"></i>
                                            </span>
                                            <input id="Timelength" name="Timelength" type="number" class="form-control" placeholder="ระยะเวลาการทำงาน / วัน" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="Check1">
                                    <label class="form-check-label" >เริ่มตอนนี้</label>
                                </div>
                                <div class="form-group">
                                    <label for="name" class="cols-sm-2 control-label">วันเริ่มประมูล</label>
                                    <div class="cols-sm-10">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fas fa-tasks"></i>
                                            </span>
                                            <input id="StartingDate" name="StartingDate" type="date" class="form-control" placeholder=""
                                            />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="Check2">
                                    <label class="form-check-label" for="exampleCheck1">จนกว่าจะหมดระยะเวลา</label>
                                </div>
                                <div class="form-group">
                                    <label for="name" class="cols-sm-2 control-label">วันสิ้นสุดการประมูล</label>
                                    <div class="cols-sm-10">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fas fa-tasks"></i>
                                            </span>
                                            <input id="EndDate" name="EndDate" type="date" class="form-control" placeholder="ความสามารถที่ต้องใช้ในการทำงาน" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 text-center">
                                       <a id="Project-submit"> <button  type="button" class="btn btn-success">ถัดไป</button></a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- end row-->
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        var check1 = false;
        var check2 = false;
        var Skill = [];
		$("#skills").select2();
			$("#skills").change(function() {
			Skill = $("#skills").val();
			console.log(Skill);
		});
        var Project = {
            ProjectName: "",
            Description: "",
            Budget: 0,
            Timelength: 0,
            StartingDate: null,
            EndDate: null,
            seTypeProject: 0
        };
        $("#ProjectName").change(function() {
            Project.ProjectName = $("#ProjectName").val();
        });
        $("#Description").change(function() {
            Project.Description = $("#Description").val();
        });
        $("#Budget").change(function() {
            Project.Budget = $("#Budget").val();
        });
        $("#Timelength").change(function() {
            Project.Timelength = $("#Timelength").val();
        });
        $("#StartingDate").change(function() {
            Project.StartingDate = $("#StartingDate").val();
            console.log(Project.StartingDate);
        });
        $("#EndDate").change(function() {
            Project.EndDate = $("#EndDate").val();
            console.log(Project);
        });
        $("#seTypeProject").change(function() {
            Project.seTypeProject = $("#seTypeProject").val();
            //Project.seTypeProject = $('#seTypeProject option:selected').val()
            console.log(Project.seTypeProject);
        });
        $("#Project-submit").click(function () {
			 jQuery.ajax({
			 	type: "post",
			 	dataType: "json",
			 	url: "/Home/SaveProject",
			 	data: {
                     Project: 
                         {
                         ProjectName: Project.ProjectName,
                         Description: Project.Description,
                         Budget:Project.Budget,
                         Timelength:Project.Timelength,
                         StartingDate:Project.StartingDate,
                         EndDate:Project.EndDate,
                         TypeProject_ID: Project.seTypeProject,
                         },
                     skillList: Skill,
                     check1: check1,
                     check2: check2,
			 	},
			 	success: function (data) {
			 		console.log(data);
			 		location.replace("http://localhost:5000/Home/ProfileEmployer/"+localStorage['Employer_ID']);
			 	},
			 	error: function (data) {
			 		alert("เกิดข้อผิดพลาด");
			 		location.replace("http://localhost:5000/Home/ProjectPost");
			 	},
			 });
			});
        $('#Check1').change(function() {
            if (this.checked) {
                $("#StartingDate").prop('disabled', true);
                check1 = true;
            } else {
                $("#StartingDate").prop('disabled', false);
                check1 = false;
            }
        });
         $('#Check2').change(function() {
            if (this.checked) {
                $("#EndDate").prop('disabled', true);
                check2 = true;
            } else {
                $("#EndDate").prop('disabled', false);
                check2 = false;
            }
        });
    });
</script>