@{ ViewData["Title"] = "Register"; }
@{ 
    IEnumerable<Skill> Skills = ViewData["Skill"] as IEnumerable<Skill>; 
}

<style>
	.containerRegis {
		margin-top: 5rem;
	}

	input:hover {}

	.panel-login {
		border-color: #ccc;
		-webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
		-moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
		box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
	}

	.panel-login>.panel-heading {
		color: #00415d;
		background-color: #fff;
		border-color: #fff;
		text-align: center;
	}

	.panel-login>.panel-heading a {
		text-decoration: none;
		color: #666;
		font-weight: bold;
		font-size: 15px;
		-webkit-transition: all 0.1s linear;
		-moz-transition: all 0.1s linear;
		transition: all 0.1s linear;
	}

	.panel-login>.panel-heading a.active {
		color: #029f5b;
		font-size: 18px;
	}

	.panel-login>.panel-heading hr {
		margin-top: 10px;
		margin-bottom: 0px;
		clear: both;
		border: 0;
		height: 1px;
		background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
		background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
		background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
		background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
	}

	.panel-login input[type="text"],
	.panel-login input[type="email"],
	.panel-login input[type="password"],
	.panel-login input[type="button"] {
		height: 45px;
		border: 1px solid #ddd;
		font-size: 16px;
		-webkit-transition: all 0.1s linear;
		-moz-transition: all 0.1s linear;
		transition: all 0.1s linear;
	}

	.panel-login input:hover,
	.panel-login input:focus {
		outline: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		border-color: #ccc;
	}

	.btn-login {
		background-color: #59B2E0;
		outline: none;
		color: #fff;
		font-size: 14px;
		height: auto;
		font-weight: normal;
		padding: 14px 0;
		text-transform: uppercase;
		border-color: #59B2E6;
	}

	.btn-login:hover,
	.btn-login:focus {
		color: #fff;
		background-color: #53A3CD;
		border-color: #53A3CD;
	}

	.forgot-password {
		text-decoration: underline;
		color: #888;
	}

	.forgot-password:hover,
	.forgot-password:focus {
		text-decoration: underline;
		color: #666;
	}

	.btn-register {
		background-color: #1CB94E;
		outline: none;
		color: #fff;
		font-size: 14px;
		height: auto;
		font-weight: normal;
		padding: 14px 0;
		text-transform: uppercase;
		border-color: #1CB94A;
	}

	.btn-com {
		background-color: rgb(185, 28, 140);
		outline: none;
		color: #fff;
		font-size: 14px;
		height: auto;
		font-weight: normal;
		padding: 14px 0;
		text-transform: uppercase;
		border-color: rgb(185, 28, 140);
	}

	.btn-register:hover,
	.btn-register:focus {
		color: #fff;
		background-color: #1CA347;
		border-color: #1CA347;
	}
</style>

<div>
	<div class="container containerRegis">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-login">
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
								<form id="login-form" role="form" style="display: block;">
									<div class="form-group text-center">
										<h3>สมัครสมาชิก</h3>
									</div>
									<div class="form-group">
										<label>ชื่อผู้ใช้</label>
										<input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="ชื่อผู้ใช้" value="">
									</div>
									<div class="form-group">
										<label>Password</label>
										<input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password">
									</div>
									<div class="form-group">
											<label >ประเภทผู้ใช้</label>
    										<select style="height: 45px;" id="userType" tabindex="2" class="form-control">
												<option value=null>-- ประเภทผู้ใช้ --</option>
												<option>ฟรีแลนซ์</option>
												<option>ผู้จ้าง</option>
												<option>ผู้จ้าง(บริษัท)</option>
											</select>
    								</div>
									<div class="form-group " id="Skillformgroup">
										<label>เลือกทักษะที่ต้องใช้ในการทำงาน</label>
										<div class="input"  tabindex="2">
											<select id="skills"  class="js-example-basic-multiple form-control" name="states[]" multiple="multiple">
												@foreach (Skill Skill in Skills) 
												{
													<option value=@Skill.Skill_ID>@Skill.Name</option>
												}
											</select>
										</div>
									</div>
									<div class="form-group">
										<label>ชื่อ-นามสกุล / ชื่อบริษัท</label>
										<input type="text" name="FullName" id="FullName" tabindex="1" class="form-control" placeholder="ชื่อผู้ใช้" value="">
									</div>
									<div class="form-group">
										<label>เลขประจำตัวประชาชน / เลขผู้เสียภาษี</label>
										<input type="text" name="Number_IDCrad" id="Number_IDCrad" tabindex="1" class="form-control" placeholder="ชื่อผู้ใช้" value="">
									</div>
									<div class="form-group">
										<label>เบอร์โทร</label>
										<input type="text" name="TelephoneNumber" id="TelephoneNumber" tabindex="1" class="form-control" placeholder="ชื่อผู้ใช้" value="">
									</div>
									<div class="form-group">
										<label>อีเมล</label>
										<input type="email" name="Email" id="Email" tabindex="2" class="form-control" placeholder="FreelanceG0@gmail.com">
									</div>
									<div class="form-group">
										<label>Facebook</label>
										<input type="text" name="Facebook" id="Facebook" tabindex="2" class="form-control" placeholder="Facebook">
									</div>
									<div class="form-group">
										<label>Line</label>
										<input type="text" name="Line" id="Line" tabindex="2" class="form-control" placeholder="Line">
									</div>
									<div class="form-group">
										<label>ที่อยู่</label>
										<input type="text" name="Address" id="Address" tabindex="2" class="form-control" placeholder="ที่อยู่">
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<input type="button" name="login-submit" id="btn-submit" tabindex="4" class="form-control btn btn-login" value="สมัคร">
											</div>
										</div>
									</div>
							</div>
						</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
</div>


<script>
	$(document).ready(function () {
		//updateskill
		var Skill = [];
		$("#skills").select2();
			$("#skills").change(function() {
			Skill = $("#skills").val();
			console.log(Skill);
		});
		$("#Skillformgroup").hide();
		//refisterFreelance
		var UserRegister = {
			UserName: '',
			Password: '',
			FullName: '',
			TelephoneNumber: '',
			Number_IDCrad: '',
			Email: '',
			Facebook: '',
			Line: '',
			Address: '',
		};
		var userType = '';
		//var id = 0;
		$("#username").change(function () {
			UserRegister.UserName = $("#username").val();
			console.log(UserRegister);
		});
		$("#Number_IDCrad").change(function () {
			UserRegister.Number_IDCrad = $("#Number_IDCrad").val();
			console.log(UserRegister.Number_IDCrad);
		});
		$("#password").change(function () {
			UserRegister.Password = $("#password").val();
			console.log(UserRegister);
		});
		$("#userType").change(function () {
			userType = $("#userType").val();
			console.log(userType);
			if(userType == "ฟรีแลนซ์")
			{
				$("#Skillformgroup").show();
			}
			else{
				$("#Skillformgroup").hide();
			}

		});
		$("#FullName").change(function () {
			UserRegister.FullName = $("#FullName").val();
			console.log(UserRegister);
		});
		$("#Email").change(function () {
			UserRegister.Email = $("#Email").val();
			console.log(UserRegister);
		});
		$("#TelephoneNumber").change(function () {
			UserRegister.TelephoneNumber = $("#TelephoneNumber").val();
			console.log(UserRegister);
		});
		$("#Facebook").change(function () {
			UserRegister.Facebook = $("#Facebook").val();
			console.log(UserRegister);
		});
		$("#Line").change(function () {
			UserRegister.Line = $("#Line").val();
			console.log(UserRegister);
		});
		$("#Address").change(function () {
			UserRegister.Address = $("#Address").val();
			console.log(UserRegister);
		});
		
		$("#btn-submit").click(function () {
			if(userType == 'ฟรีแลนซ์')
			{
				jQuery.ajax({
					type: "post",
					dataType: "json",
					url: "/Home/FreelanceRegister",
					data: {
						Freelance: {
							UserName: UserRegister.UserName,
							Password: UserRegister.Password,
							Email: UserRegister.Email,
							FullName: UserRegister.FullName,
							TelephoneNumber: UserRegister.TelephoneNumber,
							ID_Card: UserRegister.Number_IDCrad,
							Facebook: UserRegister.Facebook,
							Line: UserRegister.Line,
							Address: UserRegister.Address,
						},
						skillList: Skill,
					},
					success: function (data) {
						console.log(data);
						console.log(data.result.freelance_ID);
						localStorage['DataFreelance_ID'] = data.result.freelance_ID;
						location.replace("http://localhost:5000/Home/Login");
					},
					error: function (data) {
						alert("กรุณากรอกข้อมูลให้ถูกต้อง");
						location.replace("http://localhost:5000/Home/Register");
					},
				});
				/*jQuery.ajax({
                    type: "post",
                    dataType: "json",
                    url: "/Home/UpdateFreelanceSkill",
                    data:  {
                      skillList: Skill,
					  id: localStorage['DataFreelance_ID'],
                    },
                    success: function (data) {
                      alert("ประกาศสำเร็จ");
					  console.log(data);
                      console.log(localStorage['DataFreelance_ID']);
					  
                    //location.replace("http://localhost:5000/Home/Login");
                    },
                    error: function (data) {
					  console.log(data);
					  console.log(localStorage['DataFreelance_ID']);
                      alert("กรอกข้อมูลไม่ถูกต้อง");
                    },
          		}); //end ajax*/
			}
			if(userType == 'ผู้จ้าง')
			{
				jQuery.ajax({
					type: "post",
					dataType: "json",
					url: "/Home/EmployerRegister",
					data: {
						UserName: UserRegister.UserName,
						Password: UserRegister.Password,
						Email: UserRegister.Email,
						FullName: UserRegister.FullName,
						TelephoneNumber: UserRegister.TelephoneNumber,
						ID_Card: UserRegister.Number_IDCrad,
						Facebook: UserRegister.Facebook,
						Line: UserRegister.Line,
						Address: UserRegister.Address,
					},
					success: function (data) {
						console.log(data);
						location.replace("http://localhost:5000/Home/Login/");
					},
					error: function (data) {
						alert("กรุณากรอกข้อมูลให้ถูกต้อง");
						location.replace("http://localhost:5000/Home/Register");
					},
				});
			}
			if(userType == 'ผู้จ้าง(บริษัท)')
			{
				jQuery.ajax({
					type: "post",
					dataType: "json",
					url: "/Home/CompanyRegister",
					data: {
						UserName: UserRegister.UserName,
						Password: UserRegister.Password,
						Email: UserRegister.Email,
						Company_Name: UserRegister.FullName,
						Company_Tel: UserRegister.TelephoneNumber,
						Company_TaxID: UserRegister.Number_IDCrad,
						Facebook: UserRegister.Facebook,
						Line: UserRegister.Line,
						Company_Address: UserRegister.Address,
					},
					success: function (data) {
						console.log(data);
						location.replace("http://localhost:5000/Home/Login/");
					},
					error: function (data) {
						alert("กรุณากรอกข้อมูลให้ถูกต้อง");
						location.replace("http://localhost:5000/Home/Register");
					},
				});
			}
		});
	});
</script>